name: Build Project

on:
  pull_request: {}
  push: {}

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE_2019 }} # Can be generated at https://license.unity3d.com/manual

jobs:
  build:
    name: Build Unity
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - StandaloneOSX
          - StandaloneWindows64
          - StandaloneLinux64
          - WebGL
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Load Library
        uses: actions/cache@v1.1.0
        with:
          path: Neuromancer/Library
          key: Library
      - name: Build project
        uses: webbertakken/unity-builder@v1.2
        with:
          projectPath: "Neuromancer"
          unityVersion: 2019.4.11f1
          targetPlatform: ${{ matrix.targetPlatform }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: Neuromancer - ${{ matrix.targetPlatform }}
          path: build
      - name: Deploy to GitHub Pages
        if: ${{ matrix.targetPlatform == 'WebGL' && success() }}
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
